/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/docker/*
/vendor
/resources/lang/*.json
/public/js/app.js
/public/js/bill/rbk.js
/public/js/bill/stripe.js
/public/js/libs/gijgo.min.js
/public/mix-manifest.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!.env.example
/.idea
.autodeploy.log
.editorconfig
.gitattributes
.styleci.yml
.phpstorm.meta.php
